<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm><mat-icon>menu</mat-icon></button>
    <span>My Netatmo Dashboard</span> <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a href="#" mat-button>
        <mat-icon>notifications</mat-icon>
        Notifications
      </a>
      <a href="#" mat-button>
        <mat-icon>message</mat-icon>
        Messages
      </a>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="(user$ | async) as user">
      {{ user.displayName }} <img [src]="user.photoURL" class="avatar" />
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="#" mat-list-item>
        <mat-icon>notifications</mat-icon>
        Notifications
      </a>
      <a href="#" mat-list-item>
        <mat-icon>message</mat-icon>
        Messages
      </a>
      <a href="#" (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon>
        Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <app-user [user]="user$ | async"></app-user>
    <mat-form-field>
      <mat-select [(value)]="selectedStation">
        <mat-option *ngFor="let station of (stations$ | async)" [value]="station.id">{{ station.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <pre>{{ selectedStation | json }}</pre>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="(user$ | async) as user">
    <button *ngIf="!user.enabled" mat-menu-item (click)="enableSync(user.uid)">Enable synchronization</button>
    <button *ngIf="user.enabled" mat-menu-item (click)="disableSync(user.uid)">Disable synchronization</button>
  </ng-container>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
